CODE LICENSE TEMPLATE

Before publication, choose a license with all code authors and replace this template with the complete license text. A common permissive choice for Stata scripts is the MIT License, but that choice is not made here on the authors' behalf.

Copyright holder(s): TODO
Year: 2026
Selected license: TODO
SPDX identifier: TODO
